* {
    color: #232327;
    font-family: 'Work Sans', sans-serif;
}
html { overflow-y:scroll; }
#navigation a{
    color: white;
}
.card:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: translate(0px,-20px);
}
.header1:hover{cursor: pointer;}
#navigation a:hover{color:#eeececd2;}
.mainheader>div:hover{cursor: pointer;}
.mainheader>div{ 
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
fieldset {
    outline: none;
    border: 0;
    padding: 10px 450px;
}

body {
    padding-top: 140vh;
    margin: 0px;
}

#bgimg {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;

    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition-property: all;
    transition-duration: 2s;
    z-index: -1;
}

.header1 {
    position: fixed;
    left: 60px;
    top: 60px;
    float: left;
    font-weight: bold;
    transition-property: all;
    transition-duration: 2s;
    z-index: 3;

}

.header2 {
    position: fixed;
    right: 90px;
    top: 60px;
    float: right;
    transition-property: all;
    transition-duration: 1s;
    font-weight: bold;
    z-index:10;
}
fieldset>legend{
    text-align: left;
    margin-top: -45px;
    font-size: 50px;

}
.fieldset1>legend{
    
    margin-top: -150px;
    

}
.mainheader {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 42%;
    font-weight: bold;
    font-size: 55px;
    transition-property: all;
    transition-duration: 1s;
    text-align: center;
    z-index: 3;
    transform: translate(-50%, 0);
    margin-top: 3px;
}

.mainheader>div {
    display: inline-block;
    padding: 10px 10px;
    border: 10px solid #232327;
    z-index: 1;
    transition-property: all;
    transition-duration: 1s;
}

.subheader {
    position: fixed;
    left: 50%;
    top: 55%;
    font-weight: 500;
    margin-top: 30px;
    font-size: 30px;
    transition-property: all;
    transition-duration: 1s;
    transform: translate(-50%, 0);

}

#content {
    width: 100%;
}

#content .fieldset1 {
    background-color: white;
    margin-right: 0;
    margin-left: 0;

}

#name,
#fullname {
    display: inline-block;
}

#name {
    font-size: 40px;
    font-weight: bold;
}

#fullname {
    font-size: 20px;
    margin-left: 20px;
}

#intro {
    position: relative;
    width: 600px;
    height: 300px;
    margin-top: -150px;
    float: right;
    font-size: 25px;
    text-align: right;
    font-size: 25px;
}

#intro  .card{
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.card-body{
    padding: 0;
    height: 120px;
}
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #232327;
    text-align: right;
    z-index: 2;

}

.nav #navigation {
    position: relative;
    width: 100%;
    height:70px;
    margin-top: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    

}

.nav #navigation li {
    display: inline-block;
    cursor: pointer;
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    border-right: 0;
    padding: 5px 20px;


}
td.projectinfo{
    
    height:520px;
    margin-left: 12px;
}
a {
    text-decoration: none;
    color: white;
}

#duce {
    padding-top: 200px;
    text-align: left;
    width: 65%;
}

.fieldset2 {
    background-color: #FAFAFA;
    text-align: center;
}


.fieldset2 #skills {
    text-align: center;
    padding: 30px 10px;

}
#skills img{
    width: 100%;
    height: 600px;
}

strong {
    text-decoration-line: underline;
    font-weight: bold;
}

#fieldset3 {
    outline: none;
    border: 0;
    padding: 10px 250px;
    background-color: white;
    text-align: right;
    transition-property: all;
    transition-duration: 2s;

}

#fieldset3 #list {
    height: 75vh;
    overflow: hidden;
    text-align: center;
    /* border: 5px solid red; */


}
#fieldset3 .item {
    border: 5px solid #999;
    /* width:1379px; */
    width: 450px;
    height: 70vh;
    text-align: center;
    padding: 20px 10px;
    margin: 70px 5px;
    float: left;
    transition-property: all;
    transition-duration: 1s;


}
#fieldset4{
    outline: none;
    border: 0;
    padding: 10px 250px;
    background-color: white;
    text-align: right;
    transition-property: all;
    transition-duration: 2s;
}

#fieldset4 #list {
    height: 75vh;
    overflow: hidden;
    text-align: center;
    /* border: 5px solid red; */


}
#fieldset4 .item {
    border: 5px solid #999;
    /* width:1379px; */
    width: 450px;
    height: 70vh;
    text-align: center;
    padding: 20px 10px;
    margin: 70px 5px;
    float: left;
    transition-property: all;
    transition-duration: 1s;


}

#fieldset5{
    outline: none;
    border: 0;
    padding: 10px 250px;
    background-color: white;
    text-align: right;
    transition-property: all;
    transition-duration:2s;
}

#fieldset5 #list {
    height: 75vh;
    overflow: hidden;
    text-align: center;
    /* border: 5px solid red; */


}
#fieldset5 .item {
    border: 5px solid #999;
    /* width:1379px; */
    width: 450px;
    height: 70vh;
    text-align: center;
    padding: 20px 10px;
    margin: 70px 5px;
    float: left;
    transition-property: all;
    transition-duration: 1s;


}
#fieldset6{
    outline: none;
    border: 0;
    padding: 10px 250px;
    background-color: white;
    text-align: right;
    transition-property: all;
    transition-duration:2s;
}

#fieldset6 #list {
    height: 75vh;
    overflow: hidden;
    text-align: center;
    /* border: 5px solid red; */


}
#fieldset6 .item {
    border: 5px solid #999;
    /* width:1379px; */
    width: 450px;
    height: 70vh;
    text-align: center;
    padding: 20px 10px;
    margin: 70px 5px;
    float: left;
    transition-property: all;
    transition-duration: 1s;


}
legend{
    font-weight: bold;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}

table{
    margin-top: -15px;
    height: 250px;
}
tr > td{
    margin-left: 10px;
    text-align: left;
}
.red {
    display: inline-block;
    color: cornflowerblue;
    font-weight: bold;
}

.tbl {
    border-collapse: collapse;
    line-height: 1.5;
    /* font-size: 17px; */


}


#content fieldset:nth-of-type(even) {
background-color:  #FAF7F5; /* 짝수 번째 요소 배경색 */
}

#content fieldset:nth-of-type(odd) {
background-color: #eeececd2; /* 홀수 번째 요소 배경색 */
}

#about{
    width: 260px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #999;

}
#checkcursor{
    position: fixed;
    right: 34%;
    top: 52%;
    width: 100px;
    transition: 2s;
}
#checkcursor:hover{
    cursor: pointer;
    opacity: 0.7;
}
#K_Min:hover{
    opacity: 0.7;
    
}
#clickforproject4{
    position: absolute;
    width: 150px;
    transform: rotate(75deg);
    translate: -900% 20%;
}
#clickforproject3{
    position: absolute;
    width: 150px;
    transform: rotate(75deg);
    translate: -900% -60%;
}
#clickforproject2{
    position: absolute;
    width: 150px;
    transform: rotate(75deg);
    translate: -900% -60%;
}